
# Somewhere in your Apache config you will need to edit and insert the following:
#    # Virtual hosts for SWEF
#    Include <your path to>/swef-umbrella/swef-www/app/config/user/Swef/config.vhosts.conf


<Directory "<your web directory>">
        Options All
        Require all granted
</Directory>

<Directory "<your path to>/swef-umbrella/swef-www">
        Options All
        Require all granted
</Directory>


<VirtualHost *:80>

   #LogLevel error rewrite:trace8

# SSL ONLY ON THIS SERVER!
RewriteEngine On
RewriteCond %{SERVER_PORT} !^443$
RewriteRule . https://%{HTTP_HOST}%{REQUEST_URI} [L,R]

    ServerAdmin    root@localhost

    ServerName          www.swef.some.domain
    ServerAlias      www.fr.swef.some.domain
    ServerAlias         api.swef.some.domain
    ServerAlias   dashboard.swef.some.domain

    DocumentRoot  "<your web directory>"
    ErrorLog      "<your path to>/swef-umbrella/swef-www/app/log/apache-error.log"
    CustomLog     "<your path to>/swef-umbrella/swef-www/app/log/apache-80-access.log" common

</VirtualHost>


<VirtualHost *:443>

   #LogLevel error rewrite:trace8

    <Directory "<your path to>/swef-umbrella/swef-www">
        AllowOverride all
    </Directory>

    ServerAdmin    root@localhost

    ServerName          www.swef.some.domain
    ServerAlias      www.fr.swef.some.domain
    ServerAlias         api.swef.some.domain
    ServerAlias   dashboard.swef.some.domain

    DocumentRoot  "<your web directory>"
    ErrorLog      "<your path to>/swef-umbrella/swef-www/app/log/apache-error.log"
    CustomLog     "<your path to>/swef-umbrella/swef-www/app/log/apache-80-access.log" common


    # SSL directives

    SSLEngine               on
    TransferLog             "<your path to>/swef-umbrella/swef-www/app/log/apache-443-access.log"
    SSLCertificateFile      "/etc/apache2/ssl.crt/<your crt file>"
    SSLCertificateKeyFile   "/etc/apache2/ssl.key/<your key file>"

    <FilesMatch "\.(cgi|shtml|phtml|php)$">
        SSLOptions +StdEnvVars
    </FilesMatch>

</VirtualHost>                                  
