<your path to>/swef/app/log/apache-*.log {
    daily
    missingok
    rotate 14
    compress
    delaycompress
    notifyempty
    create 640 <your OS account> <your OS group>
}

<your path to>/swef/app/log/swef-cumulative.log {
    daily
    missingok
    rotate 14
    compress
    delaycompress
    notifyempty
    create 640 <your OS account> <your OS group>
}

<your path to>/swef/app/log/swefsecurity-*.log {
    daily
    missingok
    rotate 14
    compress
    delaycompress
    notifyempty
    create 640 <your OS account> <your OS group>
}


